.principal {
	width: 100%;
	.columna {
		width: 33.3333%;
		display: block;
		float: left;
		box-sizing: border-box;
		@include breakpoint($mobile-view) {
			float: none;
			width: 100%;
		}
		&.medio {
			border-left: 1px solid $color-negro;
			border-right: 1px solid $color-negro;
			@include breakpoint($mobile-view) {
				border-left: none;
				border-right: none;
			}
		}
		h1 {
			text-align: center;
		}
	}
}