.principal {
	width: 100%;
	.menu {
		display: block;
		li {
			cursor: pointer;
			list-style: none;
			div {
				display: none;
			}
			&.visible {
				div {
					display: inline-block;
				}
			}
		}
	}
}